## COVID19 Moral Injury in Medical Workers Predictors
### Data Project author: Eyring, Jennifer
### Date: June 28, 2022

#### Data set author: Barbic, David
#### Data collected from: <a href="https://zenodo.org/record/4069196#.YrsqeOzMK3I" title="Covid19MoralInjury">Moral Injury Dataset.</a>

In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import warnings
warnings.filterwarnings('ignore')

In [8]:
#reading in the raw csv file
df = pd.read_csv('COVID-19-M-J.csv')

In [9]:
df.head()

,Role,Country,Age,Gender,YearsExp,OverallQoL,QSatisHlth,QPhysPain,QMedTx,QEnjoyLife,...,SRE_1,SDR_1,COO_1,LEV_1,PRE_2,SRE_2,SDR_2,MAH_1,COO_2,LEV_2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,37.0,2.0,7.0,5.0,5.0,1.0,1.0,4.0,...,-0.84408,-0.84367,0.00567,0.02752,1.52581,-0.55900,-0.55835,0.53561,0.00080,0.00178
2,4.0,1.0,50.0,2.0,25.0,4.0,4.0,3.0,1.0,4.0,...,-1.20544,-1.20636,0.00782,0.01775,1.94866,-1.01008,-1.01012,1.45665,0.00419,0.00484
3,1.0,1.0,46.0,1.0,10.0,4.0,2.0,2.0,1.0,3.0,...,-0.36313,-0.36260,0.00062,0.01518,1.52581,-0.55900,-0.55835,0.53561,0.00080,0.00178
4,4.0,1.0,34.0,1.0,6.0,3.0,3.0,4.0,2.0,4.0,...,1.19482,1.19568,0.00576,0.01257,1.94866,1.11941,1.11988,1.45665,0.00515,0.00484

In [13]:
df.tail(10)

,Role,Country,Age,Gender,YearsExp,OverallQoL,QSatisHlth,QPhysPain,QMedTx,QEnjoyLife,...,SRE_1,SDR_1,COO_1,LEV_1,PRE_2,SRE_2,SDR_2,MAH_1,COO_2,LEV_2
299,1.0,3.0,37.0,2.0,0.0,3.0,2.0,1.0,1.0,3.0,...,1.51967,1.52303,0.00582,0.00668,1.52581,1.56722,1.57105,0.53561,0.00628,0.00178
300,1.0,3.0,46.0,2.0,12.0,5.0,5.0,1.0,1.0,4.0,...,-0.61591,-0.61527,0.00096,0.00668,1.52581,-0.55900,-0.55835,0.53561,0.00080,0.00178
301,1.0,4.0,34.0,2.0,5.0,4.0,4.0,3.0,1.0,3.0,...,0.45188,0.45127,0.00051,0.00668,1.52581,0.50411,0.50349,0.53561,0.00065,0.00178
302,1.0,4.0,42.0,1.0,7.0,5.0,4.0,1.0,1.0,4.0,...,-0.47078,-0.47017,0.00046,0.00499,1.52581,-0.55900,-0.55835,0.53561,0.00080,0.00178
303,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#creating data dictionary, for reference
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 70 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Role              302 non-null    float64
 1   Country           302 non-null    float64
 2   Age               307 non-null    float64
 3   Gender            302 non-null    float64
 4   YearsExp          302 non-null    float64
 5   OverallQoL        302 non-null    float64
 6   QSatisHlth        302 non-null    float64
 7   QPhysPain         302 non-null    float64
 8   QMedTx            302 non-null    float64
 9   QEnjoyLife        302 non-null    float64
 10  QLifeMngful       302 non-null    float64
 11  QConcentrate      302 non-null    float64
 12  QSafeHome         302 non-null    float64
 13  QPhysEnvHlth      302 non-null    float64
 14  QEnergyADLs       302 non-null    float64
 15  QBodyImage        302 non-null    float64
 16  QFinances         302 non-null    float64
 17  QInfoAvail        302 non-null    float64
 18  QLeisureTime      302 non-null    float64
 19  QSleeps           302 non-null    float64
 20  PQerformADLs      302 non-null    float64
 21  QWorkCapacity     302 non-null    float64
 22  QSelfSatsfd       302 non-null    float64
 23  QPersRshps        302 non-null    float64
 24  QSexLife          302 non-null    float64
 25  QFriendsSupp      302 non-null    float64
 26  QLivgCond         302 non-null    float64
 27  QHCAccess         302 non-null    float64
 28  QTranspo          302 non-null    float64
 29  QNegFeelgs        302 non-null    float64
 30  VentMgmt          302 non-null    float64
 31  Drips             302 non-null    float64
 32  Hemodynamics      302 non-null    float64
 33  RestrctVents      302 non-null    float64
 34  TriagCare         302 non-null    float64
 35  NoWorkPPE         302 non-null    float64
 36  EBP               302 non-null    float64
 37  NoResusc          302 non-null    float64
 38  Education         302 non-null    float64
 39  ChldEldCare       302 non-null    float64
 40  HCCost            302 non-null    float64
 41  Specialty         302 non-null    float64
 42  MAshamed          302 non-null    float64
 43  MAngerBetray      302 non-null    float64
 44  MDoubtMoralAblty  302 non-null    float64
 45  MPunishSelf       302 non-null    float64
 46  MRevenge          302 non-null    float64
 47  MGuiltyInex       302 non-null    float64
 48  MLessWrthyLove    302 non-null    float64
 49  MMoralFailTaste   302 non-null    float64
 50  MLoseTrust        302 non-null    float64
 51  MWithdraw         302 non-null    float64
 52  MSabotageSelf     302 non-null    float64
 53  MResent4Eever     302 non-null    float64
 54  MNoForgiveness    302 non-null    float64
 55  MLoseFaithHumty   302 non-null    float64
 56  MLashingOut       302 non-null    float64
 57  MDisgustedOthrs   302 non-null    float64
 58  BIPOC             302 non-null    float64
 59  PRE_1             302 non-null    float64
 60  SRE_1             302 non-null    float64
 61  SDR_1             302 non-null    float64
 62  COO_1             302 non-null    float64
 63  LEV_1             302 non-null    float64
 64  PRE_2             302 non-null    float64
 65  SRE_2             302 non-null    float64
 66  SDR_2             302 non-null    float64
 67  MAH_1             302 non-null    float64
 68  COO_2             302 non-null    float64
 69  LEV_2             302 non-null    float64
dtypes: float64(70)
memory usage: 169.1 KB

In [11]:
#determining nulls
df.isnull().sum()

Role        7
Country     7
Age         2
Gender      7
YearsExp    7
           ..
SRE_2       7
SDR_2       7
MAH_1       7
COO_2       7
LEV_2       7
Length: 70, dtype: int64